* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: monospace;
    background-color: #000000;
    color: rgb(0, 255, 0);
  }
  
  .container {
    margin: 20px;
    line-height: 180%;
  }

  